# 1. 변수

In [1]:
# 이름, 직책 , 이메일, 전화번호

name = "홍길동"
position = "대리"
email= "test@naver.com"
phone_number = "010-1234-5678"

In [4]:
print(name, position, email, phone_number)

홍길동 대리 test@naver.com 010-1234-5678

In [5]:
# 변수명 특징 - 대소문자 구분 가능합니다.
Age = 30
age = 31

print(Age,age)

30 31

In [9]:
# 변수명 특징 - 특수문자(_제외), 숫자로 시작은 안된다.
item?count = 5

SyntaxError: invalid syntax (2974670784.py, line 2)

In [10]:
0itemcount=2

SyntaxError: invalid decimal literal (2977933158.py, line 1)

In [1]:
# 변수명 특징 - 예약어는 변수로 쓰면 안된다.
print = "hello"

# print(print)

TypeError: 'str' object is not callable

In [2]:
# 재시작 후 위에 있는 변수 프린트해보기
print(name)

홍길동

# 2. 자료형

## 1) 숫자형

In [6]:
# 정수
x = 5
y = -3
z = 0

print(x,y,z)
print(type(x),type(y),type(z))

5 -3 0
<class 'int'> <class 'int'> <class 'int'>

In [120]:
# 실수
money = 10_000_000_000
num = 1000000000
print(f"{money:,}")

10,000,000,000

In [10]:
# 실수
a = 3.14
b = -0.15
c = 1.001

print(a,b,c)
print(type(a),type(b),type(c))

3.14 -0.15 1.001
<class 'float'> <class 'float'> <class 'float'>

In [12]:
# 지수표현
num = 1.0e6
print(num)
print(type(num))

1000000.0
<class 'float'>

In [15]:
# 숫자 (사칙연산)
## 정수 + 실수 = 실수

num1 = 1
num2 = 0.25
print(type(num1),type(num2))

result = num1+num2
print(result)
print(type(result))

<class 'int'> <class 'float'>
1.25
<class 'float'>

### (1) 표현

### (2) 산술/복합 연산

In [16]:
num1 = 10
num2 = 3

print(num1+num2) #덧셈
print(num1-num2) #뺄셈
print(num1/num2) #나눗셈
print(num1*num2) #곱셉
print(num1//num2) #목
print(num1%num2) #나머지
print(num1**num2) #제곱

13
7
3.3333333333333335
30
3
1
1000

In [18]:
# 복합연산
money = 0
print(money)
##입금
money += 2000 # money = money + 2000
print(money)

#출금
money -= 500 # money = money - 500
print(money)

0
2000
1500

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [107]:
listCnt = 130
pageList = 30

pageCnt = listCnt // pageList # 몫을 구함
#pageCntRemain = listCnt % pageList # 나머지를 구함

pageCntRemain = 1 if listCnt % pageList > 0 else 0
#if pageCntRemain > 0: pageCnt += 1

print(f"{listCnt}개의 게시물을 {pageList}로 나눈 몫은 {pageCnt} 개 이고, 나머지는 {listCnt % pageList} 이므로 더하기 {pageCntRemain}을 해서 총 페이지는 {pageCnt+pageCntRemain} 이다")
# print("페이지 : " + str(pageCnt)) 
# print("+ ("+ str(pageCntMore) +" > 0 이상이면 : +1)" )

130개의 게시물을 30로 나눈 몫은 4 개 이고, 나머지는 10 이므로 더하기 1을 해서 총 페이지는 5 이다

출생년도가 1982일 때 홀수, 짝수 판단하기

In [117]:
birthY=1981

birth_one = "짝수입니다." if birthY % 2 == 0 else "홀수입니다."
print(birth_one)

# birthM = birthY % 2

# if birthM == 0 : print("짝수 입니다.")
# else: print("홀수 입니다.")
# print("나머지 0 이면 짝수, 0이상이면 홀수: 나머지 =" + str(birthM))

홀수입니다.

## 2) ⭐ 문자열

### (1) 표현

In [37]:
message = "안녕하세요?"

print(message,type(message))

안녕하세요? <class 'str'>

In [38]:
# I'm happy를 출력하고 싶다

message1 = "I'm happy"
message2 = 'I\'m happy'

print(message1)
print(message2)

I'm happy
I'm happy

In [45]:
# 긴글 작성
review = """
안녕하세요.
오늘은 많이 춥습니다. \"얼마나 더 추워질까요\"
다음주가 더춥데요.
"""

print(review.strip())

안녕하세요.
오늘은 많이 춥습니다. "얼마나 더 추워질까요"
다음주가 더춥데요.

In [9]:
str1 = "my name is narae."

# 1. name 추출하기
name = str1[3:7]
name1 = str1.split()[1]

# 2. narae 추출하기
name_real = str1[11:].replace(".","")

# 메서드
name_real1 = str1.split()[3].replace(".","")

print(name.upper(),name1)
print(name_real,name_real.lower())

NAME name
narae narae

### (2) 연산

In [43]:
# 문자열 연산 : 덧셈
text1 = "hello"
text2 = "python"

text = text1 + text2
print(text)

hellopython

In [48]:
# 문자열 연산 : 곱셈 (반복)
print("="*50)
print("*"*10, "문자열 연산","*"*10)
print("Loop 1. 데이터를 수집 합니다.")
print("="*50)

==================================================
********** 문자열 연산 **********
Loop 1. 데이터를 수집 합니다.
==================================================

In [51]:
# 문자열 길이를 출력하는 함수
txt = "h e l l o"
txt_sl = txt[:2]
print(len(txt))
print(txt_sl)

9
h

### (3) 인덱싱/슬라이싱

#### 인덱싱

문제에서 주민등록번호에서 성별을 추출해 주세요.

In [59]:
regist_num = "901212-1325221"

print(regist_num)
print("성별은 : ",regist_num[7])
print("성별은 : ",regist_num[-7])

901212-1325221
성별은 :  1
성별은 :  1

#### 슬라이싱

문제. 주민등록번호에서 생년월일을 추출해 주세요

In [ ]:
print(regist_num[:6])

901212

문제. 주민등록번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [70]:
stars = "*"
regno_f = regist_num[:8]
regno_b = stars * len(regist_num[8:])  # regist_num[8:]

print(regno_f + regno_b)

901212-1******

### (4) 문자열 포매팅(f-string)

In [28]:
name = "홍길동"
number = "123456789"
print(f"{name}님 안녕하세요. {int(number):,}번째 입장입니다.")

홍길동님 안녕하세요. 123,456,789번째 입장입니다.

In [1]:
accuracy = 0.95

print(f"Accuracy:{accuracy}")

Accuracy:0.95

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [ ]:
address1 = "서울시 관악구 신림동 동작동"
address2 = "강남구/동작구/노원구"

print(len(address1.split()))
print(address2.split("/"))

for itm in address1.split():
    print(itm)

4
['강남구', '동작구', '노원구']
서울시
관악구
신림동
동작동

예제. 파일 확장자 찾기

In [19]:
file_name1 = "office1.data.txt"
file_name2 = "office2.data.json"
file_name3 = "office2.data.ipynb"

def fileName(fm):
    result = fm.split(".")
    #resultCnt = len(result)-1
    return result[len(result)-1]

# result1 = file_name1.split(".")
# result2 = file_name2.split(".")

# resultCnt1 = len(result1)-1
# resultCnt2 = len(result2)-1

# print(result1[resultCnt1])
# print(result2[resultCnt2])

print(fileName(file_name1))
print(fileName(file_name2))
print(fileName(file_name3))
# print(file_name2.split(".")[1])

txt
json
ipynb

#### 문자열 대체(replace)

In [99]:
email = "jason@company.com"

result = email.replace("company","google")
print(result)

jason@google.com

#### 대/소문자 변환(lower, upper)

In [101]:
gender = "mFFMMmfMMMfm"

print(gender.lower())
print(gender.upper())

mffmmmfmmmfm
MFFMMMFMMMFM

#### 공백 제거(lstrip/rstrip/strip)

In [110]:
name = "   홍길동               "
print(f"||{name}||")
print(f"||{name.strip()}||")
print(f"||{name.rstrip()}||")
print(f"||{name.lstrip()}||")

||   홍길동               ||
||홍길동||
||   홍길동||
||홍길동               ||

#### 카운트 세기(count)

In [111]:
gender = "MMFFMMMFMMMMM"

result = gender.count("M")
print(f"M이 몇개? {result}개")

M이 몇개? 10개

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [114]:
review = '''
짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿
'''

print(f"짬뽕은 {review.count('짬뽕')} 번 언급 되었습니다.")
print(f"짜장면은 {review.count('짜장면')} 번 언급 되었습니다.")

짬뽕은 1 번 언급 되었습니다.
짜장면은 2 번 언급 되었습니다.

## 3) 리스트(List)

### (1) 표현

In [11]:
mylist = []
print(mylist,type(mylist))

[] <class 'list'>

In [15]:
temperature = [33.0,32, 34.9 , 45, "", None]
print(temperature)

[33.0, 32, 34.9, 45, '', None]

In [24]:
mylist = [1,2,3,"가",["a","b","c"]]
print(mylist)

[1, 2, 3, '가', ['a', 'b', 'c']]

### (2) 인덱싱/슬라이싱

#### 인덱싱

In [29]:
member = ["유재석",70,"박명수",95,"노홍철",90]
print(member)

# 노홍철 추출
print(member[4],member[-2])
# 95 추출
print(member[3],member[-3])

['유재석', 70, '박명수', 95, '노홍철', 90]
노홍철 노홍철
95 95

#### 슬라이싱

In [30]:
member = ["유재석",70,"박명수",95,"노홍철",90]

# 박명수, 95
print(member[2:4])

# 노홍철, 90
print(member[-2:])

# 유재석 70 박명수 95
print(member[:4])

['박명수', 95]
['노홍철', 90]
['유재석', 70, '박명수', 95]

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [31]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]

print(data[3][1])
print(data[-1][1])

cat
cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [32]:
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]

print(data[-1][:2])

['dog', 'cat']

### (2) 연산

#### 덧셈

In [33]:
data1 = [1,2,3]
data2 = ['a','b']

print(data1 + data2)

[1, 2, 3, 'a', 'b']

In [36]:
jan_sales = [5000,7000,2000]
feb_sales = [6500,2000,1200,4500]
sales = jan_sales + feb_sales
print(sales)
print(sum(sales))

[5000, 7000, 2000, 6500, 2000, 1200, 4500]
28200

#### 곱셈

In [34]:
data = [1,2,3]
print(data * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### (3) range

In [48]:
num_list1 = list(range(0,5))
num_list2 = list(range(0,5,2))
num_list3 = list(range(5,0,-1))

# 0~9까지 정수 출력
num_list4 = list(range(10))
print("0~9까지 정수 : ",num_list4)

# 2~6 정수 출력
num_list5 = list(range(2,7))
print("2~6 정수 : ",num_list5)

## 0~ 10 홀수
num_list6 = list(range(1,11,2))
print("0~ 10 홀수 : ",num_list6)

# 10~0까지 2씩 내려가는 정수 출력
num_list7 = list(range(10,-1,-1))
print("10~0까지 2씩 내려가는 정수 : ",num_list7)

0~9까지 정수 :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2~6 정수 :  [2, 3, 4, 5, 6]
0~ 10 홀수 :  [1, 3, 5, 7, 9]
10~0까지 2씩 내려가는 정수 :  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### (4) 수정/추가/삭제

#### 수정

In [62]:
# 0에서 8까지의 정수리스트
num_list = list(range(9))

# 4를 'hello'로 바꿔보자

num_list[4] = 'hello'

print(num_list)

# [1,2] 를 ['one' , 'two']

num_list[1:3] = ['one','two']
print(num_list)

# [7,8] 을 9로 바꿀수 있을까? (슬라이싱된 것을 하나의 요소로 바꿀수 있을까)
num_list[7:] = [9]
print(num_list)
# print(num_list[7:])

# [7,8] dm 'hello' 로 바꿀수 있을까?
num_list[7:] = ['hello']
print(num_list)

[0, 1, 2, 3, 'hello', 5, 6, 7, 8]
[0, 'one', 'two', 3, 'hello', 5, 6, 7, 8]
[0, 'one', 'two', 3, 'hello', 5, 6, 9]
[0, 'one', 'two', 3, 'hello', 5, 6, 'h', 'e', 'l', 'l', 'o']

In [64]:
num_list = list(range(9))
print(num_list)

num_list[7:] = ["hello"]
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 'hello']

#### 추가

In [67]:
num_list = list(range(5))
print(num_list)

print(num_list + [5,6,7]) # 데이터 5,6,7 추가

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7]
None

In [71]:
# append : 요소 1개를 추가함
num_list = list(range(5))
print(num_list)

num_list.append([5,6,7])
#print(num_list.append([5,6,7]))
print(num_list)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, [5, 6, 7]]

In [70]:
# extend : 요소 여러개 추가
num_list = list(range(5))
num_list.extend([5,6,7])
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 학생등의 MBTI를 수집하고 있다

team1 = ["ISFJ","ESTJ","ESFP","ENFP"]
team2 = ["INFP","ESFP","ISFP","ESFJ"]
team3 = ["ESTJ","ISFJ","ISTP","INTJ"]

# 나는 반별로 구분되게 하나의 데이터를 만들고 싶다.
team_class = []
team_class.append(team1)
team_class.append(team2)
team_class.append(team3)

print(team_class)

# 나는 전체 학생들을 하나의 데이터로 만들고 싶다.
team_all = []
team_all.extend(team1)
team_all.extend(team2)
team_all.extend(team3)
print(team_all)

[['ISFJ', 'ESTJ', 'ESFP', 'ENFP'], ['INFP', 'ESFP', 'ISFP', 'ESFJ'], ['ESTJ', 'ISFJ', 'ISTP', 'INTJ']]
['ISFJ', 'ESTJ', 'ESFP', 'ENFP', 'INFP', 'ESFP', 'ISFP', 'ESFJ', 'ESTJ', 'ISFJ', 'ISTP', 'INTJ']

In [10]:
# 삽입(insert)
data = [1,2,4,5]
data.insert(2,3)

print(data)

[1, 2, 3, 4, 5]

#### 삭제

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [36]:
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]

post_data.append("ID006")
post_data.remove("ID002")

print(post_data.pop(), post_data)
post_data.insert(1,"ID002")

print( post_data)

ID006 ['ID001', 'ID003', 'ID004', 'ID005']
['ID001', 'ID002', 'ID003', 'ID004', 'ID005']

In [18]:
data = list(range(0,100,10))
print(data)

#del data[5] # 50 삭제
print(data[7:])
data[7:]=[]
print("70,80,90이 없어졌습니다 : ",data)

data = [10,20,20,30,40]
data.remove(20) # 값이 20인 첫번째값 삭제
print(data)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[70, 80, 90]
70,80,90이 없어졌습니다 :  [0, 10, 20, 30, 40, 50, 60]
[10, 20, 30, 40]

In [21]:
# 삭제 - pop
data = list(range(0,100,10))
print(data)

# 50을 삭제하고싶다
extract_num = data.pop(5)
print(extract_num) # 위치
print(f"{extract_num}이 삭제 되었습니다.:{data}")

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
50
50이 삭제 되었습니다.:[0, 10, 20, 30, 40, 60, 70, 80, 90]

In [27]:
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]

# 특정 게시물에 오류발견(ID003)
# 특정 게시물을 추출해서 오류 데이터 옮기기

err_data = []
print(f"기존 에러 : {err_data}")
err_post = post_data.pop(2)
print(f"오류난 포스트 : {err_post}")
err_data.append(err_post)
print(f"기존포스트 : {post_data}")
print(f"에러포스트 : {err_data}")

기존 에러 : []
오류난 포스트 : ID003
기존포스트 : ['ID001', 'ID002', 'ID004', 'ID005']
에러포스트 : ['ID003']

## 4) 튜플(Tuple)

### (1) 표현

In [28]:
mytuple = ()
print(mytuple,type(mytuple))

() <class 'tuple'>

In [31]:
# 0~10 정수

# 1번째 "일"로 변경

mytuple = tuple(range(11))

print(mytuple)

mytuple[1] = "일" # 수정불가

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

TypeError: 'tuple' object does not support item assignment

In [39]:
fruits = ("사과","오렌지","딸기")
print(fruits[0])

# del fruits[0] # 삭제불가

사과

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [44]:
mydict = {}
print(mydict,type(mydict))

student = ["홍길동",28,177.6,[76,88,96,76]]
print(student)

{} <class 'dict'>
['홍길동', 28, 177.6, [76, 88, 96, 76]]

In [47]:
student = {
    "name" : "홍길동",
    "age" : 28,
    "height" : 177.6,
    "score" : [76,88,96,76]
}

print(student["height"])

177.6

In [52]:
#score
print(max(student["score"]),min(student["score"]),sum(student["score"]),len(student["score"]))

96 76 336 4

In [54]:
student["name"] = "신짱구"
print(student)

student["score"] = 0
print(student)

{'name': '신짱구', 'age': 28, 'height': 177.6, 'score': [76, 88, 96, 76]}
{'name': '신짱구', 'age': 28, 'height': 177.6, 'score': 0}

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [75]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

weather_data["city"] = "Busan" #  city 키 Busan 으로 수정
weather_data["pm10"] = 34 # 미세먼지(`pm10`)키 추가하기 (값: 34)
weather_data["forecast"].extend(["Rainy","Rainy"]) #'forecast' 키에 ['Rainy', 'Rainy'] 추가하기
print(weather_data)
# print(weather_data.get("city","1"))
# print(weather_data.keys())
# print(weather_data.values())
print(weather_data.items())

item_list = list(weather_data.items())
print(item_list)

{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy'], 'pm10': 34}
dict_items([('city', 'Busan'), ('temperature', 22.5), ('humidity', 60), ('forecast', ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy']), ('pm10', 34)])
[('city', 'Busan'), ('temperature', 22.5), ('humidity', 60), ('forecast', ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy']), ('pm10', 34)]

In [77]:
student = {
    "name" : "홍길동",
    "age" : 28,
    "height" : 177.6,
    "score" : [76,88,96,76]
}

print(student)
print(list(student.keys()))

{'name': '홍길동', 'age': 28, 'height': 177.6, 'score': [76, 88, 96, 76]}
['name', 'age', 'height', 'score']

### (3) 관련 메서드

#### 조회

In [ ]:
#조건파악 : 내가 찾고자 하는 키가 있는가
print(student["height"])
print("height" in student)

177.6
True

In [83]:
# 값 조회
print(student.get("face","안면정보가 없습니다"))

안면정보가 없습니다

#### 삭제

In [ ]:
student = {
    "name" : "홍길동",
    "age" : 28,
    "height" : 177.6,
    "score" : [76,88,96,76]
}

del student["age"]

print(student)

student.clear() # 딕셔너리 초기화
print(student)

{'name': '홍길동', 'height': 177.6, 'score': [76, 88, 96, 76]}
{}

## 6) 집합

### (1) 표현

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [ ]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(len(emails),emails)
print(len(set(emails)),set(emails)) # 슬라이스 할수 없다, 중복제거

5 ['user1@example.com', 'user2@example.com', 'user1@example.com', 'user3@example.com', 'user2@example.com']
3 {'user2@example.com', 'user1@example.com', 'user3@example.com'}

In [ ]:
myset = set()
print(myset,type(myset))

set() <class 'set'>

In [89]:
numbers = [1,4,2,3,4,11,1,1]
uniq_number = set(numbers)
print(uniq_number)

{1, 2, 3, 4, 11}

### (2) 요소 추가/제거

#### 추가

In [94]:
myset = {1,2,3,4,5}
print(myset)

# 하나추가
myset.add(6)
print(myset)

# 여러개 추가
myset.update([3,7,8])
print(myset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

#### 제거

In [ ]:
myset = {1,2,3,4,5}

# 제거 - remove
myset.remove(2) # 없는값 삭제 오류
print(myset)

# 제거 - discard
myset.discard(7) # 없는값 삭제 오류 없음
print(myset)

{1, 3, 4, 5}
{1, 3, 4, 5}

### (3) 연산

In [105]:
yoga = {"A","C","D","F","G"}
health = {"A","B","F","H"}

# 교집합(AND)
set_inter = yoga & health
print("교집합 : ",set_inter)

set_inter = yoga.intersection(health)
print("교집합2 : ",set_inter)

# 합집합(OR)
set_or = yoga | health
print("합집합 : ",set_or)

set_union = yoga.union(health)
print("합집합 : ",set_or)

# 차집합
set_diff = yoga - health
print("차집합(yoga - health) : ",set_diff)
print("차집합(health - yoga) : ",health - yoga)

set_diff = yoga.difference(health)
print("차집합 : ",set_diff)

# 대칭차집합
set_s = yoga ^ health
print("대칭차집합",set_s)

교집합 :  {'A', 'F'}
교집합2 :  {'A', 'F'}
합집합 :  {'D', 'G', 'A', 'H', 'B', 'F', 'C'}
합집합 :  {'D', 'G', 'A', 'H', 'B', 'F', 'C'}
차집합(yoga - health) :  {'D', 'C', 'G'}
차집합(health - yoga) :  {'B', 'H'}
차집합 :  {'D', 'C', 'G'}
대칭차집합 {'D', 'G', 'H', 'B', 'C'}

## 7) 불

In [ ]:
switch = True #False
print(switch,type(switch))

True <class 'bool'>

In [112]:
num = 50

print(num > 40) # 참
print(num == 50) # 참
print(num < 50) # 거짓

True
True
False