# 제어문

# 1. 조건문

In [12]:
# 나이를 입력하면 미성년자인지 아닌지 구분

# 조건 나이가 19세 이상이면 성인, 미만이면 미성년자
# 변수 정의 : 
user_age = int(input("나이를 입력하세요"))

# 설계
if user_age >= 19:
    print(f"{user_age} : 성인입니다.")
else:
    print(f"{user_age} : 미성년자 입니다.")

15 : 미성년자 입니다.

In [ ]:
# 등급에 따라 메시지 출력하기
# 점수가 60점 이상이면 '합격', 그외 '불합격'

# 변수
user_point = int(input("점수를 입력하세요!"))

# 조건 : 점수가 60점 이상이면 '합격', 그외 '불합격'
# 설계 : 참이면 합격, 거짓이면 불합격
if user_point >= 60 :
    print("합격")
else : 
    print("불합격")

합격

In [ ]:
# 등급에 따라 출력 (A-Perfect,B-Exellent,C-Good,그외는 '노력하세요'

#변수정의
grade = "C"

#조건
if grade == "A":
    print("Perfect")
elif grade == "B" :
    print("Exellent")
elif grade == "C" :
    print("Good")
else :
    print("노력하세요")

Good

## 1) 연산자

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

In [29]:
age = 10
height = 120

user_age = 20
user_height = 100

# 조건 : 나이가 10세 이상이고 키가 120 이상인경우
# 설계 : 참이면 '통과', 거짓이면 '탑승불가'
if user_age >= age and user_height >= height :
    print("통과")
else :
    print("탑승불가")

user_age = 20
user_height = 170

result = "통과" if user_age >= age and user_height >= height else "탑승불가"
print(result)

탑승불가
통과

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% 할인

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

In [ ]:
# 변수정의
buy_price = 90000
buy_grade = "Silver"

# 조건 
## 조건1 : 구매금액이 10만원이상
## 조건2 : 등급이 Gold
## 조건결합 : OR
# 설계 : 참이면 '10% 할인 가능', 거짓이면 '10% 할인 불가능'
if buy_price >= 100000 or buy_grade == "Gold" : 
    print("10% 할인 가능")
else :
    print("10% 할인 불가능")

buy_price = 100000
buy_grade = "Silver"
result = "10% 할인 가능" if buy_price >= 100000 or buy_grade == "Gold" else "10% 할인 불가능"
print(result)

10% 할인 불가능
10% 할인 가능

## 2) 활용

In [37]:
# 운전면허증이 있으면 통과이고 없으면 벌금이다
# 만약 벌금을 내게 되었을때 카드가 있으면 카드결제이고, 아니면 현금결제이다.

# 변수정의
license_use = True
myCard = False

# 조건
## 조건1:license_use = True
## 조건2:license_use = False 일때만 myCard = True

# 설계 : 운전면허증이 False 이면 벌금,카드가 True 이면 카드결제, 그외 현금결제
if license_use :
    print("통과")
else :
    if myCard :
       print("벌금을 카드로 결제")
    else :
        print("벌금을 현금으로 결제")

통과

## 4) 예제

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

In [ ]:
temp = int(input("온도를 입력하세요"))

if temp >= 15 and temp <= 25 :
    print("쾌적한 온도입니다.")
elif temp < 15 :
    print("추운 날씨 입니다")
else :
    print("더운날씨 입니다")

더운날씨 입니다

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

In [45]:
mypoint = float(input("점수를 입력하세요"))

if mypoint >= 4.0 :
    print("100% 장학금을 받을 수 있습니다.")
elif mypoint >= 3.5 :
    print("50% 장학금을 받을 수 있습니다.")
elif mypoint >= 3.0 :
    print("30% 장학금을 받을 수 있습니다.")
else :
    print("장학금을 받을 수 없습니다.")

30% 장학금을 받을 수 있습니다.

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [52]:
text = "하늘에 계신 우리 아버지여 "
search_word = "아버지"
if search_word.count(search_word) == 0 :
    print(f"{search_word} 가 포함된 단어가 없습니다.")
else :
    print(f"{search_word}가 {search_word.count(search_word)}번 나옵니다")

if search_word in text :
    print("있습니다")
else :
    print("없습니다")

아버지가 1번 나옵니다
있습니다

# 2. 반복문

## 1) While 문

<img src='https://www.dropbox.com/scl/fi/r0815e20gb2hv6a599i00/_-while.png?rlkey=dexzbwy3xu4phnzvo65cb6hbq&st=ykavuhx3&dl=1' width=30%>

### (1) 표현

In [1]:
# 변수정의
count = 0
while count < 3 :
    print(count)
    count += 1

0
1
2

In [2]:
count = 0
while count < 3 :
    count += 1
    print(count)

1
2
3

In [ ]:
count = 0

# 설계
while True : 
    print(count)
    break

### (2) break

In [3]:
# while True :, count = 3 일때 멈추기

# 변수정의
count = 0
while True :
    print(count)
    count += 1

    if count == 3 : break

0
1
2

### (2) continue

In [8]:
# while True : , count = 5일때 멈추기, 짝수일때는 출력말기

#변수정의
count = 0

# 조건 :count ==5 ,count %2=0

while  True:
    count += 1

    #조건1
    if count % 2 == 0 : continue

    print(count)

    #조건2
    if count == 5 : break

1
3
5

In [ ]:
# 예제:1부터10까지 더하기
# 변수 정의
count = 0
tot = 0

# 계획세우기 
# num은 반복이 될때마다 1씩 늘어난다
# 반복이 될때마다 tot에 count를 더하기
while count <= 10 :
    count += 1 

    if count % 3 != 0 : continue 

    print(f"{count} + {tot} = ", end="") 
    tot += count
    print(f"{tot}") 
    
    # if count == 10 : break

3 + 0 = 3
6 + 3 = 9
9 + 9 = 18

In [3]:
# 예제: 비밀번호가 맞을 때까지 입력하기

# 변수정의 : password = 1234
## 반복 : 입력(input()), 조건 : if password == "1234" 반복 끝

## 설계
while True :
    password = input("비밀번호를 입력하세요")
    if password == "1234" : 
        print("로그인 되었습니다.")
        break
    else :
        print("비밀번호를 다시 입력해 주세요")

# 변형해 보기 : 아이디, 비밀번호를 모두 설정해서 맞는지 확인하기
id = "abcd"
pwd = "123456"
count = 0

while True :
    count += 1
    # id_input = input("아이디를 입력하세요")
    # pwd_input = input("비밀번호를 입력하세요")
    txt_input = input("아이디/패스워드를 입력해 주세요")
    if "/" in txt_input :
        id_input,pwd_input = txt_input.split("/")
    else :
        print("형식에 맞지 않습니다.")
        continue

    if id_input == id and pwd == pwd_input:
        print("로그인 되었습니다.")
        break
    else :
        print("계정이 맞지 않습니다.")
    
    if count == 3 :
        print("3회이상 틀려서 5분 기다리셔야 합니다.")
        break

로그인 되었습니다.
형식에 맞지 않습니다.
계정이 맞지 않습니다.
로그인 되었습니다.

## 2) For 문

<img src='https://www.dropbox.com/scl/fi/eezsh68wobwm87rhh7209/_-for.png?rlkey=w1mhrm40cg413ajdajix0bb9m&st=ptyurj6a&dl=1' width='30%'>

### (1) 표현

In [19]:
students = {"name":"A","age":20}
for item in students.items():
    print(item[0])


mylist=["a","b","c"]
for i in mylist:
    print(i)

name
age
a
b
c

In [25]:
# 예제 : 물건들의 가격이 담긴 리스트가 있는데 총 가격을 구하세요
## 변수정의
price_list = [1000,500,2000,15000]
total_price = 0
# print(sum(price_list))

for price in price_list :
    print(f"{price:,}")
    total_price += price

print("="*20)
print(f"{total_price:,}")

1,000
500
2,000
15,000
====================
18,500

In [43]:
# 변형 해보기 : cart에 담긴 총 가격 구하기
mycart = {"milk":2600,"snack":1500,"bread":4500}
total_price = 0

for key,value in mycart.items():
#    total_price += value
    print(f"{key}가격은 : {value:,}")

print("="*20)
for x in mycart:
#    total_price += mycart[item]
    print(f"{mycart[x]:,}")

print("="*20)
for price in mycart.values():
     total_price += price
     print(f"{price:,}")

print("="*20)
print(f"{total_price:,}")

milk가격은 : 2,600
snack가격은 : 1,500
bread가격은 : 4,500
====================
2,600
1,500
4,500
====================
2,600
1,500
4,500
====================
8,600

### (2) 관련 주요 함수

##### range(정수)

In [59]:
numbers1 = list(range(5)) # 0~ 4 5앞까지
numbers2 = list(range(2,7)) # 2~6 7앞까지
numbers3 = list(range(0,100,10)) # 0~99까지 (100 앞까지) 10 간격으로

print(numbers1)
print(numbers2)
print(numbers3)

[0, 1, 2, 3, 4]
[2, 3, 4, 5, 6]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# 5번 반복하기
for num in range(5):
    print(num)

0
1
2
3
4

In [65]:
# 1부터 10까지 더하기
# 변수정의
tot = 0

for i in range(1,11):
    tot += i
    print(f"{tot} + {i} = ",end="")
    print(tot)

print("="*20)
print(tot)

1 + 1 = 1
3 + 2 = 3
6 + 3 = 6
10 + 4 = 10
15 + 5 = 15
21 + 6 = 21
28 + 7 = 28
36 + 8 = 36
45 + 9 = 45
55 + 10 = 55
====================
55

In [71]:
# 반복문을 활용하여 "1일차 매출은 120만원입니다." 형식의 메시지를 출력하고 싶다.

# 변수정의
daily_sales = [120,150,100,120,150]

for x in range(len(daily_sales)):
    print(f"{x+1}일차 매출은 {daily_sales[x]}만원입니다")

print("="*30)

i = 0
for sales in daily_sales:
    i += 1
    print(f"{i}일차 매출은 {sales}만원입니다")

1일차 매출은 120만원입니다
2일차 매출은 150만원입니다
3일차 매출은 100만원입니다
4일차 매출은 120만원입니다
5일차 매출은 150만원입니다
==============================
1일차 매출은 120만원입니다
2일차 매출은 150만원입니다
3일차 매출은 100만원입니다
4일차 매출은 120만원입니다
5일차 매출은 150만원입니다

#### enumerate(문자열/리스트/튜플)

In [ ]:
# 반복문을 활용하여 "1일차 매출은 120만원입니다." 형식의 메시지를 출력하고 싶다.
daily_sales = [120,150,100,120,150]

for idx,daily_sale in enumerate(daily_sales):
    print(f"{idx+1}일차 매출은 {daily_sale}만원 입니다.")

1일차 매출은 120만원 입니다.
2일차 매출은 150만원 입니다.
3일차 매출은 100만원 입니다.
4일차 매출은 120만원 입니다.
5일차 매출은 150만원 입니다.

### (3) break/continue

In [77]:
# 1부터 10 까지 중에 7이 나오면 반복을 중단해 주세요
for i in range(1,11):
    print(i)
    if i == 7 :
        break

1
2
3
4
5
6
7

#### continue

In [78]:
# 1부터 10 까지 중에 5는 "건너뛰기"라고만 출력해주고 ,나머지는 숫자출력
for i in range(1,11):
    if i == 5:
        print("건너뛰기")
        continue
    print(i)

1
2
3
4
건너뛰기
6
7
8
9
10

#### break

#### continue

### (4) 활용

In [87]:
# 다음과 같이 출력해 주세요
# 이름: 홍길동
# 나이 : 23
# 키 : 182.9
student = {"name":"홍길동","나이":23,"키":182.9}

for key,value in student.items():
    print(f"{key.replace('name','이름')} : {value}")

이름 : 홍길동
나이 : 23
키 : 182.9

In [ ]:
# 다음과 같이 출력해 주세요
# 홍길동님의 나이는 23세 입니다.

student = [("홍길동",23),("김영희",20),("신짱구",25)]

for name,age in student :
    print(f"{name}님의 나이는 {age}세입니다")

홍길동님의 나이는 23세입니다
김영희님의 나이는 20세입니다
신짱구님의 나이는 25세입니다

## 3) 예제

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

In [ ]:
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}

for key,value in grades.items():
    print(f"{key}님의 성적은 {value}점입니다.")

John님의 성적은 85점입니다.
Emily님의 성적은 92점입니다.
Tom님의 성적은 78점입니다.
Lucy님의 성적은 88점입니다.

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

In [47]:
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]

for value in temperature_data :
    if value >= 30 :
        print(value)

35.2
40.1

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

In [121]:
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]

tot = 0

for item in orders :
    tot += item["amount"]
    print(f"{item['customer']}님의 매출은 {item['amount']}원 입니다.")
    
print("="*30)
print(f"{tot:,}")

result = sum(idx["amount"] for idx in orders )
print(result)

Kim님의 매출은 120000원 입니다.
Lee님의 매출은 85000원 입니다.
Park님의 매출은 99000원 입니다.
==============================
304,000
304000

예제 4. 리뷰 데이터

짜장면이 언급된 데이터만 출력하세요

```
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]
```

In [64]:
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]

for item in reviews:
    if "짜장면" in item:
        print(item)

맛있어요! 짜장면 최고예요!
짜장면이 너무 짰어요.

## 4) List Comprehension

In [125]:
# 빈 리스트에 1부터 10까지 숫자 리스트를 생성해보자
num_list = []

# num_list = list(range(1,11))
num_list = [i for i in range(1,11)]
print(num_list)

# 짝수만

num_list = []
num_list = [i for i in range(1,11) if i % 2 == 0]
print(num_list)


num_list = []
num_list = [i for i in range(1,11) if i % 2 == 0]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [124]:
num_list = ["짝수" if i % 2 == 0 else "홀수" for i in range(1,11)]
print(num_list)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']