# 2026-01-19 과제

In [1]:
import pandas as pd

# 데이터 생성
data_dict = {
    "customer_id": [101, 102, 103, 104, 105],
    "name": ["Alice", "Bob", "Charlie", None, "Eva"],
    "age": [25.0, 30.0, 28.0, 40.0, 35.0],
    "signup_date": ["2023-01-15", "2023-02-20", "2023-03-20", "2023-03-01", "2023-04-10"],
    "purchase_amount": [120.50, 120.2, 200.00, 150.75, 300.40],
    "is_active": [True, False, "yes", "no", True],
    "group": ["A", "A", "B", "C", "C"]
}

# 데이터프레임 생성
df = pd.DataFrame(data_dict)
df

   customer_id     name   age signup_date  purchase_amount is_active group
0          101    Alice  25.0  2023-01-15           120.50      True     A
1          102      Bob  30.0  2023-02-20           120.20     False     A
2          103  Charlie  28.0  2023-03-20           200.00       yes     B
3          104     None  40.0  2023-03-01           150.75        no     C
4          105      Eva  35.0  2023-04-10           300.40      True     C

1. is_active 열만 추출(loc 이용, iloc 이용)

In [5]:
print(df.iloc[:,5])
print("-"*20)
print(df.loc[:,["is_active"]])

0     True
1    False
2      yes
3       no
4     True
Name: is_active, dtype: object
--------------------
  is_active
0      True
1     False
2       yes
3        no
4      True

2. age, group 열만 추출(loc 이용, iloc 이용)

In [12]:
print(df.loc[:,["age","group"]])
print("-"*20)
print(df.iloc[:,[2,-1]])

    age group
0  25.0     A
1  30.0     A
2  28.0     B
3  40.0     C
4  35.0     C
--------------------
    age group
0  25.0     A
1  30.0     A
2  28.0     B
3  40.0     C
4  35.0     C

3. customer_id가 105인 행만 추출(loc 이용, iloc 이용)

In [91]:
print(df.loc[df["customer_id"]==105,:])
print("-"*20)
print(df.loc[df.iloc[:,0]==105,:])

#print(df.iloc[df.iloc[0,"customer_id"]==105,:])

   customer_id name   age signup_date  purchase_amount is_active group
4          105  Eva  35.0  2023-04-10            300.4      True     C
--------------------
   customer_id name   age signup_date  purchase_amount is_active group
4          105  Eva  35.0  2023-04-10            300.4      True     C

4. customer_id 가 103, 104, 105인 행만 추출(loc 이용, iloc 이용)

In [103]:
print(df.loc[df["customer_id"] >= 103 , :])
print("-"*20)
print(df.loc[df.iloc[:,0]>=103 , : ])

   customer_id     name   age signup_date  purchase_amount is_active group
2          103  Charlie  28.0  2023-03-20           200.00       yes     B
3          104     None  40.0  2023-03-01           150.75        no     C
4          105      Eva  35.0  2023-04-10           300.40      True     C
--------------------
   customer_id     name   age signup_date  purchase_amount is_active group
2          103  Charlie  28.0  2023-03-20           200.00       yes     B
3          104     None  40.0  2023-03-01           150.75        no     C
4          105      Eva  35.0  2023-04-10           300.40      True     C

5. charlie 의 group 추출(loc 이용, iloc 이용)

In [112]:
print(df.loc[df["name"]=="Charlie","group"])
print("-"*20)
print(df.loc[df.iloc[:,1]=="Charlie","group"])

2    B
Name: group, dtype: object
--------------------
2    B
Name: group, dtype: object

6. customer_id 가 102, 103인 데이터의 name, age 추출(loc 이용, iloc 이용)

In [69]:
print(df.loc[df["customer_id"].between(102,103),["name","age"]])
print("-"*20)
print(df.loc[(df["customer_id"] == 102)|(df["customer_id"]==103),["name","age"]])

      name   age
1      Bob  30.0
2  Charlie  28.0
--------------------
      name   age
1      Bob  30.0
2  Charlie  28.0

7. Alice 의 customer_id, name, age  추출 (loc 이용, iloc 이용)

In [127]:
print(df.loc[df["name"]=="Alice",["customer_id","name","age"]])
print("-"*20)
print(df.loc[df.iloc[:,1]=="Alice",["customer_id","name","age"]])

   customer_id   name   age
0          101  Alice  25.0
--------------------
   customer_id   name   age
0          101  Alice  25.0

8. Bob, Eva 의 signup_date, is_activate 추출

In [128]:
print(df.loc[(df["name"]=="Bob")|(df["name"]=="Eva"),["name","signup_date","is_active"]])

  name signup_date is_active
1  Bob  2023-02-20     False
4  Eva  2023-04-10      True

In [ ]:
df.sort_index(ascending=True)
print(df.sort_index(ascending=False))
print(df.sort_values(by="name",key = lambda x : x.str.len()))

#print(df.sort_values(by="name"))
print(df.isna())
print(df.isna().sum())

   customer_id     name   age signup_date  purchase_amount is_active group
4          105      Eva  35.0  2023-04-10           300.40      True     C
3          104     None  40.0  2023-03-01           150.75        no     C
2          103  Charlie  28.0  2023-03-20           200.00       yes     B
1          102      Bob  30.0  2023-02-20           120.20     False     A
0          101    Alice  25.0  2023-01-15           120.50      True     A
   customer_id     name   age signup_date  purchase_amount is_active group
1          102      Bob  30.0  2023-02-20           120.20     False     A
4          105      Eva  35.0  2023-04-10           300.40      True     C
0          101    Alice  25.0  2023-01-15           120.50      True     A
2          103  Charlie  28.0  2023-03-20           200.00       yes     B
3          104     None  40.0  2023-03-01           150.75        no     C
   customer_id   name    age  signup_date  purchase_amount  is_active  group
0        False  False  False        False            False      False  False
1        False  False  False        False            False      False  False
2        False  False  False        False            False      False  False
3        False   True  False        False            False      False  False
4        False  False  False        False            False      False  False
customer_id        0
name               1
age                0
signup_date        0
purchase_amount    0
is_active          0
group              0
dtype: int64